<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four">
            <h1 class="text-center">404</h1>
          </div>
          <div class="content">
            <h3 class="h2">Looks likes you're lost</h3>
            <p>The page you are looking for is not available!</p>
            <a (click)="routeTo('home')" class="link_404">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>