

.main-menubox {
    display: none;
}

.main-menu:hover .main-menubox{
    display: block;
}

.logo{
    height: 55px;
}


.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }

    .dropdown-menu{ left: -131%;}
}

.dropdown-submenu a::after {
    right: 16px;
    top: 42%;
}

.dropdown-item {
    padding: 8px 18px;
}

    .dropdown-item{white-space: normal}

    .navbar-expand-lg .navbar-nav .dropdown-menu {
    font-size: 14px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    //background-color: #dcdcdc;
}

  li.nav-item{    padding: 10px 20px;cursor: pointer;}

  .head{
    // background: rgba(0,0,0,0.8);
     backdrop-filter: blur(10px);
 }