<div [formGroup]="parentForm">
  <label [for]="reqObj['formControl']" class="form-label" *ngIf="reqObj['label']">{{reqObj['label']}}
    &nbsp;<span class="text-danger">{{reqObj['mandatory']?'*':null}}</span>
  </label>
  <div class="input-group">
    <div class="input-group-text" *ngIf="actionsTemplate">
      <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
    </div>
    <input
      [name]="reqObj['formControl']"
      class="{{reqObj['className']?reqObj['className']:''}} {{actionsTemplate?'addon':''}}  form-control {{reqObj['isEditable']?'':'disabled'}}"
      [readonly]="reqObj['isEditable']?false:true"
      [formControlName]="reqObj['formControl']?reqObj['formControl']:null"
      rows="1"
      tabindex="{{reqObj['isEditable']?0:-1}}"
      placeholder="{{reqObj['placeholder']}}"
      bsDatepicker
      [bsConfig]="datePickerConfig"
      [isDisabled]="!reqObj['isEditable']"
      [minDate]="reqObj['minDate']"
      [maxDate]="reqObj['maxDate']"
      (bsValueChange)="onCallback($event)"
    >
  </div>
</div>